/** fonts**/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
body{
    font-family: 'Noto Sans', sans-serif;
    }
:root{
    --primary-color: #4ADE80;
}
hr {margin: 1.5rem 0rem;
}
    /**Container**/
.container {
padding:0rem 1rem;
}
.container-center{
    max-width: 600px;
    margin:auto;
}
/** links**/
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;    
    color:white;
}
.link-secondary{
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
}
.list-nonbullet{
    list-style: none;
    }
.list-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.navigation{
    background-color: var(--primary-color);
    color:white;
    text-align: center;
}
.navigation .link{
    color:white;
}
